<template>
    <lightning-layout>
        <lightning-layout-item size="6">
            <lightning-layout multiple-rows="true">

                <lightning-layout-item size="6" padding="horizontal-large">
                    <lightning-input type="text" label="Job Name (Optional)" onchange={handeJobNameChange}></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="6" padding="horizontal-large">
                    <lightning-input type="checkbox" label="Email Me When Done" onchange={handleEmailMeChange}></lightning-input>
                </lightning-layout-item>
        
                <lightning-layout-item size="6" padding="horizontal-large">
                    <c-lookup
                        onsearch={handleLookupSearch}
                        onselectionchange={handleObjectLookupChange}
                        label="Lookup Object"
                        placeholder="Search Available Objects...."
                        required>
                    </c-lookup>
                </lightning-layout-item>
                <lightning-layout-item size="6" padding="horizontal-large">
                    <lightning-input type="number" label="Records Per File" value={recordsPerFile}
                                    min="10" max="2000" onchange={handleRecordsPerPageChange}></lightning-input>
                </lightning-layout-item>
        
            </lightning-layout>
        </lightning-layout-item>

        <lightning-layout-item size="6">
            <template if:true={objectFields}>
                <lightning-dual-listbox
                    class="slds-text-body_small"
                    label="Select Fields"
                    source-label="Available"
                    selected-label="Selected"
                    field-level-help="These fields will show up in the exported files."
                    options={objectFields}
                    onchange={handleSelectedFieldsChange}
                    min=1>
                </lightning-dual-listbox>
                <div class="slds-align_absolute-center slds-m-top_large">
                    <lightning-button variant="brand" label={fieldButtonLabel} onclick={handleConfirmFieldsUpdate}></lightning-button>
                </div>
            </template>
        </lightning-layout-item>
    </lightning-layout>

</template>