<template>
    <template if:true={isExportStarted}>
        <div class="slds-m-vertical_xx-large">
            <lightning-card title="Export Started" icon-name="standard:task">
                <div class="slds-m-horizontal_large slds-m-bottom_large">
                    <div class="slds-text-body_regular slds-text-align_center">
                        <b>Your export has begun!</b> To monitor its progress, click "Monitor" below and look for job <b>{jobIdLabel}</b>.<br/>
                        You can also view the new task by clicking "View Task" below.
                    </div>
                </div>

                <div class="slds-align_absolute-center">
                    <lightning-button class="slds-m-horizontal_medium" variant="neutral" label="Monitor" onclick={handleClickMonitor}></lightning-button>
                    <lightning-button class="slds-m-horizontal_medium" variant="brand" label="View Task" onclick={handleClickViewTask}></lightning-button>
                </div>
            </lightning-card>
        </div>

    </template>

    <lightning-card>
        <div class="slds-m-horizontal_large">

            <!-- <lightning-button onclick={handleDebug} label="debug button" variant="success"></lightning-button> -->
            <c-data-export-options
                object-api-name={objectApiName}
                object-fields={objectFields}
                onupdateobjname={handleObjectNameChange}
                onupdatefields={handleUpdateFields}>
            </c-data-export-options>

            <template if:true={showPreviewTable}>
                <div class="slds-m-top_xx-large">
                    <div class="slds-text-heading_medium">
                        <b>Export Preview</b>
                    </div>
                    <lightning-datatable
                        key-field="Id"
                        hide-checkbox-column="true"
                        column-widths-mode="auto"
                        data={previewRecords}
                        columns={previewColumns}>
                    </lightning-datatable>
                </div>
                
                <div class="slds-align_absolute-center slds-m-top_large">
                    <lightning-button variant="brand" label="Start Export" onclick={handleStartJob}></lightning-button>
                </div>
            </template>

        </div>
    </lightning-card>
</template>